%h2 The List

%table
  %thead
    %tr
      %th Title
      %th Director
      %th Rating
      %th Runtime
      %th J
      %th E
      %th R
      %th K
      %th S
  %tbody
    = @films.each do |film|
      %tr
        %td
          %a{ href: "/movie/#{film.tmdb_id}"} #{film.title} (#{film.release_date.year})
        %td #{film.director_name}
        %td #{film.certification}
        %td #{film.runtime}
        %td
          %span{ class: film.j_seen_bool == '1' ? 'circle-indicator success' : 'circle-indicator' }
        %td
          %span{ class: film.e_seen_bool == '1' ? 'circle-indicator success' : 'circle-indicator' }
        %td
          %span{ class: film.r_seen_bool == '1' ? 'circle-indicator success' : 'circle-indicator' }
        %td
          %span{ class: film.k_seen_bool == '1' ? 'circle-indicator success' : 'circle-indicator' }
        %td
          %span{ class: film.s_seen_bool == '1' ? 'circle-indicator success' : 'circle-indicator' }
