%h1 The JERKS
%table
  %thead
    %tr
      %th Year
      %th Title
      %th Director
      %th Rating
      %th Runtime
      %th J
      %th E
      %th R
      %th K
      %th S
  %tbody
    = @films.each do |film|
      %tr
        %td #{film.release_date}
        %td #{film.title}
        %td #{film.director_name}
        %td #{film.certification}
        %td #{film.runtime}
        %td #{film.j_seen_bool}
        %td #{film.e_seen_bool}
        %td #{film.r_seen_bool}
        %td #{film.k_seen_bool}
        %td #{film.s_seen_bool}
