.row.row__flex
  .column.column__flex-one
    %img{ class: "img-responsive", src: "#{@film_data[:image_url]}" }

  .column.column__flex-four
    %h2="#{@film_data[:title]} (#{@film_data[:year]})"
    %h4= @film_data[:certification]
    %p= @film_data[:overview]

    %a{ class: "button", href: "/proposals/new" } Add to Proposals

