.row.row__flex
  .column.column__flex-one
    %img{ class: "img-responsive", src: "#{@movie.poster_url}", width: '210', height: 'auto' }

  .column.column__flex-four
    %h2= "#{@movie.title} (#{@movie.year})"
    /* %h4 certification */
    %p= @movie.overview
    %a{ class: "button button__link", href: "/proposals/new/#{@movie.id}" } Add to Proposals
