%h2
  %strong.username #{env['warden'].user['initial']}
  is proposing <strong>#{@movie.title} (#{DateTime.parse(@movie.release_date).year})</strong> be added to The List

%form.form{ action: '/proposals/new', method: 'post' }
  .input-group
    %textarea.textarea.form-control{ name: 'body', placeholder: 'State your case' }
    %input{ type: 'hidden', name: 'tmdb_id', value: "#{@movie.id}" }
    %input{ type: 'hidden', name: 'username', value: "#{env['warden'].user['initial']}" }
    %button.button.button__submit{ type: 'submit' } Submit
